    .MonsterInput {
        width: 100px;
    }

	.TextBox50{
		width: 50px; 
	}

    .Outline {
        border: 1px solid black;
        padding: 3px;
        margin-left: 10px;
        float: left;
    }

    .Full {
        background-color: green;
        color: white;
        font-weight: bold;
        border: 5px solid black;
    }

    .Hurt {
        background-color: yellow;
        font-weight: bold;
        border: 1px solid black;
        color: black;
    }

    .Dead {
        background-color: red;
        color: white;
        font-weight: bold;
        border: 1px solid black;
    }

    .Player {
        background-color: white;
        color: black;
        font-weight: bold;
    }

    .gridCellBorder {
        border: 1px solid black;
    }
    
.gridCellNoBackground{
	text-align: center;
	vertical-align: middle;
	/*background-color: white !important;*/		
}

.PlayerBox{
    height: 300px !important;    
}

.TopAlign{
	vertical-align: top !important;
}

.FirstRow{
	height: 350px;
}


